@import "../../../styles/app/_variables";
.layout {
  .sidebar {
    width: 218px;
    height: auto;
    flex-shrink: 0;
    background: var(--bs-white, #FFF);
    .logo {
      padding: 50.37px 70px;
    }
  }
  .body {
    padding: 30px;
    flex-grow: 1;
    .top {
      margin-bottom: 30px;
      .title {
        h2 {
          color: var(--bs-primary, #6E39CB);
        }
      }
    }
  }
}
