input {
  background: linear-gradient(0deg, #F4F5F9, #F4F5F9), linear-gradient(0deg, #DBDCDE, #DBDCDE) !important;
  border-color: #DBDCDE !important;
  border-radius: 8px !important;
  padding: 13px 15px 16px 15px !important;
  font-size: 14px !important;
  line-height: normal !important;
}

label {
  font-size: 14px;
  line-height: normal;
}
