<h1>Display Large</h1>
<h2>Display Medium</h2>
<h3>Display Small</h3>
<h4>Display Large</h4>
<h5>Display Large</h5>
<h6>Display Large</h6>

<p>Test</p>

<button type="button" class="btn btn-primary" (click)="changeTheme()">
  System Theme
</button>
<form class="bg-white p-4">
  <div class="mb-3">
    <label for="exampleInputEmail1" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="exampleInputEmail1"
      placeholder="Enter your email"
      aria-describedby="emailHelp" />
  </div>
  <div class="mb-3">
    <label for="exampleInputPassword1" class="form-label">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" />
  </div>
  <div class="mb-3 form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1" />
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
